body {
  margin: 0px;
  background-color: #25282a;
}

a {
  text-decoration: none;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: 0px;
}

.album-cover {
  position: relative;
}

.album-img {
  width: 100%;
}

.album-card {
  margin-bottom: 20px;
  width: 70%;
  border: 2px solid #25282a;
}

.album-cover:hover .album-img {
  filter: brightness(23%);
}

.album-title a {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}

.album-title a:hover {
  text-decoration: underline;
}

.artist-name a {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #a0a0a0;
  font-weight: light;
}

.artist-name a:hover {
  color: white;
  text-decoration: underline;
}

@media (min-width: 667px) and (max-width: 1024px) {
  .album-card {
    width: 40%;
  }
}

@media (min-width: 1025px) {
  .album-card {
    width: 20%;
  }
}
