.icons {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: space-evenly;
  flex-direction: row;
  position: absolute;
  display: none;
  align-items: center;
  width: 100%;
}

.album-cover:hover .icons {
  display: flex;
  filter: invert(40%);
}

.icon-heart {
  width: 30px;
}

.icon-play {
  width: 30px;
}

.icon-play:hover {
  transform: scale(2);
  transition: transform 0.6s ease-in-out;
}

.icon-dots {
  width: 30px;
}
